<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xgl.mapper.QuestionExtMapper">
  <resultMap id="BaseResultMap" type="xgl.model.Question">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="GMT_CREATE" jdbcType="BIGINT" property="gmtCreate" />
    <result column="GMT_MODIFIED" jdbcType="BIGINT" property="gmtModified" />
    <result column="CREATOR" jdbcType="INTEGER" property="creator" />
    <result column="COMMENT_COUNT" jdbcType="INTEGER" property="commentCount" />
    <result column="VIEW_COUNT" jdbcType="INTEGER" property="viewCount" />
    <result column="LIKE_COUNT" jdbcType="INTEGER" property="likeCount" />
    <result column="TAG" jdbcType="VARCHAR" property="tag" />
  </resultMap>
<!--阅读数增加-->
  <update id="incView" parameterType="xgl.model.Question">
    UPDATE QUESTION
    SET
    VIEW_COUNT=VIEW_COUNT + #{viewCount,jdbcType=BIGINT}
    where id=#{id}
  </update>
  <!--评论数增加-->
  <update id="incCommentCount" parameterType="xgl.model.Question">
    UPDATE QUESTION
    SET
    COMMENT_COUNT=COMMENT_COUNT + #{commentCount,jdbcType=BIGINT}
    where id=#{id}
  </update>
  <!--查询相关问题-->
  <select id="selectRelated" parameterType="xgl.model.Question" resultMap="BaseResultMap">
    SELECT * from QUESTION WHERE id!=#{id} and tag regexp #{tag}
  </select>

    <!--搜索查询结果数-->
    <select id="countBySearch" parameterType="xgl.dto.QuestionQueryDTO" resultType="java.lang.Integer">
        SELECT count(*) from QUESTION
         <where>
             <if test="search != null">
                 and title regexp #{search}
             </if>
         </where>
    </select>

    <!--搜索查询-->
    <select id="selectBySearch" parameterType="xgl.dto.QuestionQueryDTO" resultMap="BaseResultMap">
        SELECT * from QUESTION
        <where>
            <if test="search != null">
                and title regexp #{search}
            </if>
        </where>
        order by gmt_create desc limit #{page},#{size}
    </select>
</mapper>